html{
    font-family: sans-serif;  
}

@font-face {
     font-family: "InterBlack";
     src: url(font/Inter-Black.ttf);
     font-weight: 600;
    }
@font-face {
     font-family: "InterRegular";
     src: url(font/Inter-Regular.ttf);
     font-weight: 600;
    }
.meio img:hover {
    filter: drop-shadow(35px 35px 0px #000000);

    transition: 0.5s;
}
body{
    margin: 0;
    width 100%;
    background-image: url(images/background.png);
    background-position:center;
    background-repeat:repeat-y;
    background-size:cover;
    
}

/*barra superior*/

#menubar{
    margin: 0;
    padding: 0;
    background-color: snow;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
#menu li{
    display: inline;
    float: right;
    padding: 2px 10px 2px 10px;
}
li{
    list-style: none;
}
li .menu-logo{
    float: inherit;
    display: inline-grid;
}
li .menu-logo img{
    max-height: 40px;
    max-width: 40px;
    width: auto;
    height: auto;
}
li #icone{
    position: absolute;
    float: left;
    left: 3%;
    text-align: left;
    cursor: default; 
}

/*infopesoal*/

#info{
    margin-left: 20px;
}
.bio{
    display: flex;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
h1 {
    font-family: "InterBlack",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
    margin-left: 20px;
    padding-right: 20px;
}
#info{
    width: 45%;
    min-width: 500px;
    height: 50%px;
}
#bio{
    text-align: left;
    font-family: "InterRegular";
    font-weight: 200;
    width: 45%;
    height: 50%px;
}

/* miolo (estilo hq)*/

#tituloproj{
    text-align: right;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: 20px;
}
.meio img{
    max-height: 500px;
    max-width: 500px;
    width: auto;
    height: auto;
    margin: 40px;
    border: 7px solid #000000;
    cursor:pointer; 
}
.meio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* carrossel*/

#popmana{
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}
#carromana{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    ~webkit-overflow-scrlling: touch;
}
.itemmana{
    flex:none;
    width: 100%;
    height: 300px;
    scroll-snap-align: start;
}
#carromana img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* pop up*/

.meio#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.closebtn{
    
    font-family: "Inter",sans-serif;
    position:relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: snow;
    background: #5869bf;
    cursor:pointer; 
}
#clx:hover{
    background: #2f3e87;
    filter: drop-shadow(5px 5px 0px #000000);
    top:-5px;
    left: -5px;
    transition: 0.5s;
}
.popmanaclass {
    background: white;
    border-radius: 30px;
    padding: 90px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 10;
    filter: drop-shadow(35px 35px 0px #000000);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.popmanaclass#popmana.active{
    top:50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#fechar{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}
#fechar img{
    width: 100%;
}
.conteudopop{
    display: flex;
    flex-wrap: wrap;
}